= simple_form_for [:admin, @book] do |f|
  = f.input :title
  = f.input :author
  %p= "Old price: #{@book.old_price}" unless @book.old_price.nil?  
  = f.input :price
  = f.input :publisher
  = f.input :language
  = f.input :description
  = f.association :category
  = image_tag  @book.cover.url(:thumb)
  = f.input :cover
  = f.submit
