.row
  .col-md-4
    =image_tag Faker::Placeholdit.image('240x360', 'jpg')
  .col-md-5#book-info-top
    %h3= @book.title
    %h4 Autor: #{@book.author}
    %h5.title-attr Publisher
    %p= @book.publisher
    %h5.title-attr Publication date
    %p= @book.publication_date
    %h5.title-attr Language
    %p= @book.language
    %h5.title-attr Price
    %h3{:style => "margin-top:0px;"}= number_to_currency @book.price
    =link_to add_book_cart_path(book_id: @book.id) , method: :post, class: "btn btn-primary" do
      =fa_icon "shopping-cart",text: "Add to cart"
    %h6
      =link_to "#" do
        =fa_icon "heart-o", text: "Add to wishlist"
  .col-md-9
    %p{style: "margin-top:10px" } Book Info
    %div{:style => "width:100%;border-top:1px solid silver"}
      %p{:style => "padding:15px;"}
        %small= @book.description
