.row
  .col-md-3
    =image_tag @book.cover.url(:details)
  .col-md-5#book-info-top
    %h3= @book.title
    %h4 Autor: #{@book.author}
    %h5.title-attr Publisher
    %p= @book.publisher
    %h5.title-attr Publication date
    %p= @book.publication_date
    %h5.title-attr Language
    %p= @book.language

    - if !@book.old_price.nil? && @book.price < @book.old_price
      %h5.title-attr Old Price
      %h3{:style => "margin-top:0px;"}
        %strike= number_to_currency @book.old_price
      %h5.title-attr Price
      %h3{:style => "margin-top:0px;"}= number_to_currency @book.price
      %h5{style: "margin-top:0"}
        %p= "Save #{number_to_currency (@book.old_price - @book.price)} "
    -else
      %h5.title-attr Price
      %h3{:style => "margin-top:0px;"}= number_to_currency @book.price


    =link_to add_book_cart_path(book_id: @book.id) , method: :post, class: "btn btn-primary" do
      =fa_icon "shopping-cart",text: "Add to cart"
    %h6
      =link_to "#" do
        =fa_icon "heart-o", text: "Add to wishlist"
  .col-md-9
    %p{style: "margin-top:10px" } Book Info
    %div{:style => "width:100%;border-top:1px solid silver"}
      %p{:style => "padding:15px;"}
        %small= @book.description
  .col-sm-7
    %p{style: "margin-top:10px" } Customer reviews
    %div{:style => "width:100%;border-top:1px solid silver; margin-bottom: 10px"}
    -if user_signed_in? && current_user.books.include?(@book) && !current_user.reviewed_this_book?(@book)
      .review-block
        .status-upload
          = render partial: "reviews/reviews_form"
    = render @reviews
