=simple_form_for @review do |f|
  = hidden_field_tag "book_id", @book.id
  .star-con
    .stars
      = f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b|
        = b.radio_button(class: "star") + b.label(class: "star btn btn-xs btn-default glyphicon glyphicon-star")
  = f.input :title
  = f.input :content
  = f.submit "Add review", class: "btn btn-success green"
