%nav.nav.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      =link_to "Book Shop", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-left
      %li{ class: active?(about_path) }
        = link_to "About", about_path
      %li{ class: active?(contact_path) }
        = link_to "Contact", contact_path
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to cart_path do
          = fa_icon "shopping-cart"
          = current_cart.line_items.map { |e| e.quantity}.sum
          products for
          = number_to_currency current_cart.line_items.map { |e| e.full_price }.sum
      - if user_signed_in?
        - if current_user.admin?
          %li{ class: active?(admin_books_path) }
            = link_to "Adminstration panel", admin_books_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Signed in as #{current_user.email}
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Settings", edit_user_registration_path(current_user)
            %li
              = link_to "Address settings", new_address_path(current_user)
            %li.divider{:role => "separator"}
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
      - else
        %li{ class: active?(new_user_session_path) }
          = link_to "Sign in", new_user_session_path
        %li{ class: active?(new_user_registration_path) }
          = link_to "Sign up", new_user_registration_path
