!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BookShop
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      =render 'layouts/header'
    .container#main
      = render 'layouts/messages'
      .row
        .col-md-3
          .list-group
            - Category.all.each do |category|
              =link_to category.name, category_path(category), class: "list-group-item"
        .col-md-9
          = yield
